venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

*.log
db.sqlite3
db.sqlite3-journal

.env
local.env

media/
src/core/media/
src/core/static/img/temporarily/
/static/

.idea/
.vscode/
.DS_Store
Thumbs.db

*.mo
