{% extends 'cabinet_base.html' %}
{% load static %}

{% block title %}Тарифы{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        Тарифы - ЖК "{{ active_flat.house.name|default:'Не обрано' }}", кв.{{ active_flat.number|default:'-' }}
    </h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'crm:summary' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Тарифы</li>
    </ul>
</section>

<section class="content">
    {% if not active_flat %}
        <div class="callout callout-warning">
            <h4>Увага!</h4>
            <p>У вас ще немає прив'язаних квартир. Зверніться до адміністрації.</p>
        </div>

    {% elif not active_flat.tariff %}
        <div class="callout callout-info">
            <h4>Информация</h4>
            <p>Для вашей квартиры (№{{ active_flat.number }}) еще не назначен тариф. Пожалуйста, ожидайте или свяжитесь с управляющей компанией.</p>
        </div>

    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ваш тариф: <b>{{ active_flat.tariff.name }}</b></h3>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">#</th>
                                    <th>Услуга</th>
                                    <th>Единица измерения</th>
                                    <th>Цена за единицу (грн)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in tariff_services %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.service.name }}</td>
                                        <td>{{ item.service.measure.name|default:"-" }}</td>
                                        <td><b>{{ item.price_per_unit|floatformat:2 }}</b></td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4" class="text-center text-muted" style="padding: 20px;">
                                            В данном тарифе пока нет добавленных услуг.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>
{% endblock %}
