{% extends 'base.html' %}
{% load static %}

{% block title %}{% if about_page.seo_block %}{{ about_page.seo_block.title }}{% else %}Про нас - Мій Дім 24{% endif %}{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'website:home_page' %}">Головна</a></li>
                        <li class="active">Про нас</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box clearfix">
                        <div class="page-header">
                            <h1>{{ about_page.title }}</h1>
                        </div>

                        {% if about_page.director_photo %}
                            <img src="{{ about_page.director_photo.url }}" class="img-responsive imgFloatRight" alt="Фото директора" style="max-width: 250px; border-radius: 5px; margin-left: 20px; margin-bottom: 20px;">
                        {% endif %}

                        <div style="font-size: 16px; line-height: 1.6;">
                            {{ about_page.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery g1" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                {% for image in about_page.gallery.all %}
                    <div class="col-xs-12 col-sm-6 col-md-3 item" style="margin-bottom: 20px;">
                        <a href="{{ image.image.url }}" class="big">
                            <img src="{{ image.image.url }}" alt="Фото галереї {{ forloop.counter }}" class="img-responsive img-thumbnail" style="height: 200px; width: 100%; object-fit: cover;">
                        </a>
                    </div>
                {% empty %}
                    <div class="col-xs-12 text-center text-muted">
                        <p>Фотографії в галереї поки що відсутні.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="about" style="margin-top: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box clearfix">
                        <div class="page-header">
                            <h3>{{ about_page.additional_title }}</h3>
                        </div>

                        <div style="font-size: 16px; line-height: 1.6;">
                            {{ about_page.additional_description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery g2" style="margin-top: 30px; margin-bottom: 50px;">
        <div class="container">
            <div class="row">
                {% for image in about_page.additional_gallery.all %}
                    <div class="col-xs-12 col-sm-6 col-md-3 item" style="margin-bottom: 20px;">
                        <a href="{{ image.image.url }}" class="big">
                            <img src="{{ image.image.url }}" alt="Додаткове фото {{ forloop.counter }}" class="img-responsive img-thumbnail" style="height: 200px; width: 100%; object-fit: cover;">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="documents">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="page-header">
                            <h3>Документи</h3>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="media-object">
                                    <i class="far fa-file-pdf fa-3x"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ліцензія на діяльність</h4>
                                <a href="#" download class="btn btn-default btn-xs">
                                    <i class="fa fa-download" aria-hidden="true"></i> Скачати
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            if (window.jQuery) {
                jQuery(function ($) {
                    $('.g1 .item a').simpleLightbox({ captionsData: 'alt' });
                    $('.g2 .item a').simpleLightbox({ captionsData: 'alt' });
                });
            }
        });
    </script>
{% endblock %}
