{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Владельцы квартир{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Владельцы квартир</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Владельцы квартир</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выберите действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'user_create' %}">Добавить владельца квартиры</a></li>
                    <li><a href="{% url 'message_create' %}?user_has_debt=1">Отправить сообщение должникам</a></li>
                    <li><a href="{% url 'user_invite' %}">Отправить приглашение</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{% url 'user_list' %}" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                                <tr>
                                    <th style="width: 110px; min-width: 110px">ID</th>
                                    <th><a href="?sort=fullname">ФИО</a></th>
                                    <th style="width: 140px; min-width: 140px">Телефон</th>
                                    <th style="width: 140px; min-width: 140px">Email</th>
                                    <th style="min-width: 250px">Дом</th>
                                    <th style="min-width: 300px">Квартира</th>
                                    <th style="width: 110px; min-width: 110px"><a href="?sort=created">Добавлен</a></th>
                                    <th>Статус</th>
                                    <th style="width: 80px; min-width: 80px">Есть долг</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                                <tr id="w0-filters" class="filters">
                                    <form method="GET">
                                        <td><input type="text" class="form-control" name="uid"></td>
                                        <td><input type="text" class="form-control" name="fullname"></td>
                                        <td><input type="text" class="form-control" name="phone"></td>
                                        <td><input type="text" class="form-control" name="email"></td>
                                        <td>
                                            <select class="form-control" name="house">
                                                <option value=""></option>
                                                <option value="1">ЖК "Башня Чкалов"</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="flat"></td>
                                        <td><input type="text" class="form-control" name="created_date" placeholder="ДД.ММ.ГГГГ"></td>
                                        <td>
                                            <select class="form-control" name="status">
                                                <option value=""></option>
                                                <option value="active">Активен</option>
                                                <option value="new">Новый</option>
                                                <option value="disabled">Отключен</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="has_debt">
                                                <option value=""></option>
                                                <option value="1">Да</option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>
                                    </form>
                                </tr>
                            </thead>
                            <tbody>
                                {% for owner in owners %}
                                    <tr data-href="{% url 'user_detail' owner.id %}" data-key="{{ owner.id }}">
                                        <td>{{ owner.uid }}</td>
                                        <td>{{ owner.full_name|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td>{{ owner.phone }}</td>
                                        <td>{{ owner.email }}</td>
                                        <td>
                                            {% for flat in owner.flats.all %}
                                                <a href="{% url 'house_detail' flat.house.id %}">{{ flat.house.name }}</a>{% if not forloop.last %},<br />{% endif %}
                                            {% empty %}
                                                <span class="not-set">(не задано)</span>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for flat in owner.flats.all %}
                                                <a href="{% url 'flat_detail' flat.id %}">№{{ flat.number }}, {{ flat.house.name }}</a>{% if not forloop.last %},<br />{% endif %}
                                            {% empty %}
                                                <span class="not-set">(не задано)</span>
                                            {% endfor %}
                                        </td>
                                        <td>{{ owner.created_at|date:"d.m.Y" }}</td>
                                        <td>
                                            {% if owner.status == 'active' %}
                                                <small class="label label-success">Активен</small>
                                            {% elif owner.status == 'new' %}
                                                <small class="label label-warning">Новый</small>
                                            {% else %}
                                                <small class="label label-danger">Отключен</small>
                                            {% endif %}
                                        </td>
                                        <td>{% if owner.has_debt %}<span>Да</span>{% endif %}</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="{% url 'message_create' %}?user_id={{ owner.id }}" title="Отправить сообщение" data-toggle="tooltip"><i class="fa fa-envelope"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'user_update' owner.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'user_delete' owner.id %}" title="Удалить" data-toggle="tooltip" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr data-href="/admin/user/371" data-key="371">
                                        <td>12123</td>
                                        <td>Nana1</td>
                                        <td>+380675487238</td>
                                        <td>grettasavinsk@gmail.com</td>
                                        <td>
                                            <a href="#">Nan's House</a>,<br />
                                            <a href="#">Nan's House</a>
                                        </td>
                                        <td>
                                            <a href="#">№1, Nan's House</a>,<br />
                                            <a href="#">№2, Nan's House</a>
                                        </td>
                                        <td>02.02.2026</td>
                                        <td><small class="label label-success">Активен</small></td>
                                        <td><span>Да</span></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Отправить сообщение"><i class="fa fa-envelope"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Удалить"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr data-href="/admin/user/369" data-key="369">
                                        <td>000370</td>
                                        <td><span class="not-set">(не задано)</span></td>
                                        <td></td>
                                        <td>xuyebojuga-4877@yopmail.com</td>
                                        <td></td>
                                        <td></td>
                                        <td>30.01.2026</td>
                                        <td><small class="label label-warning">Новый</small></td>
                                        <td></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Отправить сообщение"><i class="fa fa-envelope"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Удалить"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr data-href="/admin/user/363" data-key="363">
                                        <td>000363</td>
                                        <td><span class="not-set">(не задано)</span></td>
                                        <td></td>
                                        <td>konstantinow.k.k@avada-media.com</td>
                                        <td></td>
                                        <td></td>
                                        <td>01.12.2025</td>
                                        <td><small class="label label-danger">Отключен</small></td>
                                        <td></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Отправить сообщение"><i class="fa fa-envelope"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Удалить"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li class="prev disabled"><span>&laquo;</span></li>
                            <li class="active"><a href="?page=1">1</a></li>
                            <li><a href="?page=2">2</a></li>
                            <li><a href="?page=3">3</a></li>
                            <li><a href="?page=4">4</a></li>
                            <li><a href="?page=5">5</a></li>
                            <li class="next"><a href="?page=2">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

                <div class="box-footer">
                    <div>Количество владельцев: <span class="text-bold">{{ owners|length|default:"260" }}</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
