{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Квартира №{{ flat.number|default:"34" }}, {{ flat.house.name|default:"ЖК &quot;Морская Симфония&quot;"|safe }}{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        Квартира №{{ flat.number|default:"34" }}, {{ flat.house.name|default:"ЖК &quot;Морская Симфония&quot;"|safe }}
    </h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="{% url 'flat_list' %}">Квартиры</a></li>
        <li class="active">Квартира №{{ flat.number|default:"34" }}, {{ flat.house.name|default:"ЖК &quot;Морская Симфония&quot;"|safe }}</li>
    </ul>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Просмотр квартиры</h3>
            <div class="box-tools">

                {% if flat.account and flat.account.status == 'active' %}
                    <a href="{% url 'transaction_create' %}?type=in&account_id={{ flat.account.id }}" class="btn btn-default btn-sm">
                        <span class="hidden-xs"><i class="fa fa-dollar"></i> Принять платеж</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'invoice_create' %}?flat_id={{ flat.id }}" class="btn btn-default btn-sm">
                        <span class="hidden-xs"><i class="fa fa-files-o"></i> Оформить квитанцию</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <button class="btn btn-default btn-sm disabled" title="Лицевой счет неактивен или отсутствует" data-toggle="tooltip">
                        <span class="hidden-xs"><i class="fa fa-dollar"></i> Принять платеж</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default btn-sm disabled" title="Лицевой счет неактивен или отсутствует" data-toggle="tooltip">
                        <span class="hidden-xs"><i class="fa fa-files-o"></i> Оформить квитанцию</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                    </button>
                {% endif %}

                <a href="/admin/flat/update/{{ flat.id|default:'711' }}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редактировать квартиру</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                            <tr>
                                <td>Лицевой счет</td>
                                <td>
                                    {% if flat.account %}
                                        <a href="{% url 'account_detail' flat.account.id %}">{{ flat.account.uid }}</a>
                                    {% else %}
                                        не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Номер квартиры</td>
                                <td>{{ flat.number|default:"34" }}</td>
                            </tr>
                            <tr>
                                <td>Площадь</td>
                                <td>
                                    {{ flat.area|default:"0.00" }}м<sup>2</sup>
                                </td>
                            </tr>
                            <tr>
                                <td>Дом</td>
                                <td>
                                    {% if flat.house %}
                                        <a href="{% url 'house_detail' flat.house.id %}">{{ flat.house.name }}</a>
                                    {% else %}
                                        <a href="#">{{ mock_house|default:"ЖК &quot;Морская Симфония&quot;"|safe }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Секция</td>
                                <td>{{ flat.section.name|default:"" }}</td>
                            </tr>
                            <tr>
                                <td>Этаж</td>
                                <td>{{ flat.floor.name|default:"" }}</td>
                            </tr>
                            <tr>
                                <td>Владелец</td>
                                <td>
                                    {% if flat.owner %}
                                        <a href="{% url 'user_detail' flat.owner.id %}">{{ flat.owner }}</a>
                                    {% else %}
                                        не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Тариф</td>
                                <td>
                                    {% if flat.tariff %}
                                        <a href="{% url 'tariff_detail' flat.tariff.id %}">{{ flat.tariff.name }}</a>
                                    {% else %}
                                        не указано
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="margin-top-15">
                        <p><a href="/admin/counter-data/counter-list?flat_id={{ flat.id|default:'711' }}">Посмотреть показания счетчиков</a></p>

                        <p>
                            {% if flat.account %}
                                <a href="/admin/account-transaction/index?account_id={{ flat.account.id }}&type=in">Посмотреть приходы</a>
                            {% else %}
                                <a href="/admin/account-transaction/index?account_id=0&type=in">Посмотреть приходы</a>
                            {% endif %}
                        </p>

                        <p><a href="/admin/invoice/index?flat_id={{ flat.id|default:'711' }}">Посмотреть квитанции</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(function () {
        // Ініціалізація тултипів для заблокованих кнопок
        $('[data-toggle="tooltip"]').tooltip();

        // Для кнопок з data-confirm (якщо в майбутньому знадобиться JS підтвердження)
        $('[data-confirm]').on('click', function(e) {
            if ($(this).hasClass('disabled')) {
                e.preventDefault();
                alert($(this).data('confirm'));
            }
        });
    });
</script>
{% endblock %}
