{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Редагування сторінки "Контакти"{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Редагування сторінки</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li class="active">Редагування сторінки "Контакти"</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Редагування сторінки "Контакти"</h3>
                </div>
                <div class="box-body">
                    <form id="contact-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <h3 class="page-header">Контактна інформація</h3>

                                <div class="form-group">
                                    <label class="control-label">Заголовок</label>
                                    {{ form.title }}
                                    <div class="help-block text-danger">{{ form.title.errors }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Короткий опис</label>
                                    {{ form.description }}
                                    <div class="help-block text-danger">{{ form.description.errors }}</div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <h3 class="page-header">Контакти</h3>

                                <div class="form-group">
                                    <label class="control-label">ПІБ / Назва</label>
                                    {{ form.name }}
                                    <div class="help-block text-danger">{{ form.name.errors }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Локація</label>
                                    {{ form.location }}
                                    <div class="help-block text-danger">{{ form.location.errors }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Телефон</label>
                                    {{ form.phone_number }}
                                    <div class="help-block text-danger">{{ form.phone_number.errors }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">E-mail</label>
                                    {{ form.email }}
                                    <div class="help-block text-danger">{{ form.email.errors }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="page-header">Координати для карти</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Широта (Latitude)</label>
                                            {{ form.latitude }}
                                            <div class="help-block text-danger">{{ form.latitude.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Довгота (Longitude)</label>
                                            {{ form.longitude }}
                                            <div class="help-block text-danger">{{ form.longitude.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Налаштування SEO</h3>

                                <div class="form-group">
                                    <label class="control-label">Title</label>
                                    {{ seo_block.title }}
                                    <div class="help-block text-danger">{{ seo_block.title.errors }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    {{ seo_block.description }}
                                    <div class="help-block text-danger">{{ seo_block.description.errors }}</div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Keywords</label>
                                    {{ seo_block.keywords }}
                                    <div class="help-block text-danger">{{ seo_block.keywords.errors }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group mt-3">
                                    <a href="{% url 'adminlte:statistic' %}" class="btn btn-default">Скасувати</a>
                                    <button type="submit" class="btn btn-success">Зберегти</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $("#id_description").wysihtml5({
        locale: 'uk-UA',
        toolbar: {
            "font-styles": true,
            "emphasis": true,
            "lists": true,
            "html": false,
            "link": true,
            "image": false,
            "color": false,
            "blockquote": false,
            "fa": true,
            "size": 'none'
        }
    });
});
</script>
{% endblock %}
