{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Показания счетчиков{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Показания счетчиков</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Счетчики</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'counter_data_create' %}">Добавить показание</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{% url 'counter_data_list' %}" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                                <tr>
                                    <th style="min-width: 200px">Дом</th>
                                    <th style="min-width: 160px">Секция</th>
                                    <th style="width: 110px; min-width: 110px"><a href="?sort=-flat">№ квартиры</a></th>
                                    <th>Счетчик</th>
                                    <th style="width: 90px; min-width: 90px">Текущие показания</th>
                                    <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                    <th style="width: 85px; min-width: 85px">&nbsp;</th>
                                </tr>
                                <tr id="w0-filters" class="filters">
                                    <form method="GET">
                                        <td>
                                            <select class="form-control" name="house">
                                                <option value=""></option>
                                                <option value="1">ЖК "Башня Чкалов"</option>
                                                <option value="412">Nan's House</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="section">
                                                <option value="">Выберите дом</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="flat"></td>
                                        <td>
                                            <select class="form-control" name="service">
                                                <option value=""></option>
                                                <option value="126">Электричество</option>
                                                <option value="127">Водопровод</option>
                                                <option value="128">Газопровод</option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </form>
                                </tr>
                            </thead>
                            <tbody>
                                {% for counter in counters %}
                                    <tr data-href="{% url 'counter_history' %}?flat_id={{ counter.flat.id }}&service_id={{ counter.service.id }}" data-key="{{ counter.id }}">
                                        <td>{{ counter.flat.house.name|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td>{{ counter.flat.section.name|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td>{{ counter.flat.number|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td>{{ counter.service.name|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td style="background-color: #DFD5; font-weight: normal">
                                            {% if counter.current_value is not None %}
                                                {{ counter.current_value|floatformat:1 }}
                                            {% else %}
                                                <span class="not-set">(не задано)</span>
                                            {% endif %}
                                        </td>
                                        <td style="background-color: #DFD5; font-weight: normal">
                                            {{ counter.service.unit.name|default:"<span class='not-set'>(не задано)</span>"|safe }}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="{% url 'counter_data_create' %}?flat_id={{ counter.flat.id }}&service_id={{ counter.service.id }}" title="Снять новое показание счетчика" target="_blank" data-toggle="tooltip"><i class="fa fa-dashboard"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'counter_history' %}?flat_id={{ counter.flat.id }}&service_id={{ counter.service.id }}" title="Открыть историю показаний для счетчика" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr data-href="#">
                                        <td>Nan's House</td>
                                        <td>Секция Первая</td>
                                        <td>1</td>
                                        <td>Электричество 1</td>
                                        <td style="background-color: #DFD5; font-weight: normal">34.0</td>
                                        <td style="background-color: #DFD5; font-weight: normal">кВт.ч</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Снять новое показание" data-toggle="tooltip"><i class="fa fa-dashboard"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="История показаний" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr data-href="#">
                                        <td>Nan's House</td>
                                        <td>Секция Первая</td>
                                        <td>1</td>
                                        <td>Водопровод 1</td>
                                        <td style="background-color: #DFD5; font-weight: normal">34.0</td>
                                        <td style="background-color: #DFD5; font-weight: normal">m³</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Снять новое показание" data-toggle="tooltip"><i class="fa fa-dashboard"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="История показаний" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr data-href="#">
                                        <td>ЖК "Альтаир 3"</td>
                                        <td>Секция 1</td>
                                        <td>12</td>
                                        <td>Водопровод 1</td>
                                        <td style="background-color: #DFD5; font-weight: normal"><span class="not-set">(не задано)</span></td>
                                        <td style="background-color: #DFD5; font-weight: normal">m³</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Снять новое показание" data-toggle="tooltip"><i class="fa fa-dashboard"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="История показаний" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li class="prev disabled"><span>&laquo;</span></li>
                            <li class="active"><a href="?page=1">1</a></li>
                            <li><a href="?page=2">2</a></li>
                            <li class="next"><a href="?page=2">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
