{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Новый пользователь{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Новый пользователь</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="#">Пользователи</a></li>
        <li class="active">Новый пользователь</li>
    </ul>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <form id="w0" action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group field-useradminform-firstname">
                            <label class="control-label" for="useradminform-firstname">Имя</label>
                            <input type="text" id="useradminform-firstname" class="form-control" name="first_name" maxlength="255" value="{{ form.first_name.value|default:'' }}">
                            <div class="help-block text-danger">{{ form.first_name.errors }}</div>
                        </div>

                        <div class="form-group field-useradminform-lastname">
                            <label class="control-label" for="useradminform-lastname">Фамилия</label>
                            <input type="text" id="useradminform-lastname" class="form-control" name="last_name" maxlength="255" value="{{ form.last_name.value|default:'' }}">
                            <div class="help-block text-danger">{{ form.last_name.errors }}</div>
                        </div>

                        <div class="form-group field-useradminform-phone">
                            <label class="control-label" for="useradminform-phone">Телефон</label>
                            <input type="text" id="useradminform-phone" class="form-control" name="phone_number" maxlength="255" value="{{ form.phone_number.value|default:'' }}">
                            <div class="help-block text-danger">{{ form.phone_number.errors }}</div>
                        </div>

                        <div class="form-group field-useradminform-role">
                            <label class="control-label" for="useradminform-role">Роль</label>
                            <select id="useradminform-role" class="form-control" name="role">
                                {% for role in roles %}
                                    <option value="{{ role.id }}" {% if form.role.value == role.id %}selected{% endif %}>{{ role.name }}</option>
                                {% empty %}
                                    <option value="admin">Користувач</option>
                                {% endfor %}
                            </select>
                            <div class="help-block text-danger">{{ form.role.errors }}</div>
                        </div>

                        <div class="form-group field-useradminform-status">
                            <label class="control-label" for="useradminform-status">Статус</label>
                            <select id="useradminform-status" class="form-control" name="status">
                                <option value="active" {% if form.status.value == 'active' %}selected{% endif %}>Активний</option>
                                <option value="new" {% if form.status.value == 'new' or not form.status.value %}selected{% endif %}>Новий</option>
                                <option value="disabled" {% if form.status.value == 'disabled' %}selected{% endif %}>Відключений</option>
                            </select>
                            <div class="help-block text-danger">{{ form.status.errors }}</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group field-useradminform-username required">
                            <label class="control-label" for="useradminform-username">Email (логін)</label>
                            <input type="email" id="useradminform-username" class="form-control" name="email" maxlength="255" required value="{{ form.email.value|default:'' }}">
                            <div class="help-block text-danger">{{ form.email.errors }}</div>
                        </div>

                        <div class="form-group field-useradminform-password">
                            <label class="control-label" for="useradminform-password">Пароль</label>
                            <div class="input-group">
                                <input type="password" id="useradminform-password" class="form-control pass-value" name="password" maxlength="255">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="generatePassBtn">
                                        Згенерувати
                                    </button>
                                    <button type="button" class="btn btn-primary" id="showPass">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="help-block text-danger">{{ form.password.errors }}</div>
                        </div>

                        <div class="form-group field-useradminform-password2">
                            <label class="control-label" for="useradminform-password2">Повторити пароль</label>
                            <input type="password" id="useradminform-password2" class="form-control pass-value" name="password_confirm" maxlength="255">
                            <div class="help-block text-danger">{{ form.password_confirm.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="#" class="btn btn-default">Отменить</a>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('#generatePassBtn').on('click', function() {
        var pass = Math.random().toString(36).slice(-8);
        $('.pass-value').val(pass);

        $('#useradminform-password').attr('type', 'text');
        $('#showPass i').removeClass('fa-eye').addClass('fa-eye-slash');
    });

    $('#showPass').on('click', function() {
        var passInput = $('#useradminform-password');
        var icon = $(this).find('i');

        if (passInput.attr('type') === 'password') {
            passInput.attr('type', 'text');
            icon.removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            passInput.attr('type', 'password');
            icon.removeClass('fa-eye-slash').addClass('fa-eye');
        }
    });
});
</script>
{% endblock %}
