{% extends 'admin_base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Редагування: {{ form.instance.name }}{% else %}Новий дім{% endif %}
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>{% if form.instance.pk %}{{ form.instance.name }}{% else %}Новий дім{% endif %}</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="{% url 'adminlte:house_list' %}">Будинки</a></li>
        {% if form.instance.pk %}
            <li><a href="{% url 'adminlte:house_detail' form.instance.pk %}">{{ form.instance.name }}</a></li>
            <li class="active">Редагування</li>
        {% else %}
            <li class="active">Створення</li>
        {% endif %}
    </ul>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <form id="house-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label class="control-label">Назва</label>
                            {{ form.name }}
                            <div class="help-block text-danger">{{ form.name.errors }}</div>
                        </div>

                        <div class="form-group {% if form.address.errors %}has-error{% endif %}">
                            <label class="control-label">Адреса</label>
                            {{ form.address }}
                            <div class="help-block text-danger">{{ form.address.errors }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Головне зображення. Розмір: (522x350)</label>
                            {{ form.main_image }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Зображення #1. Розмір: (248x160)</label>
                            {{ form.image1 }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Зображення #2. Розмір: (248x160)</label>
                            {{ form.image2 }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Зображення #3. Розмір: (248x160)</label>
                            {{ form.image3 }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Зображення #4. Розмір: (248x160)</label>
                            {{ form.image4 }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-8">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                {% if form.instance.main_image %}
                                    <img src="{{ form.instance.main_image.url }}" class="img-responsive largeImg margin-bottom-30" alt="Головне">
                                {% else %}
                                    <img src="{% static 'adminlte/img/placeholder.jpg' %}" class="img-responsive largeImg margin-bottom-30" alt="">
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-md-3">
                                {% if form.instance.image1 %}
                                    <img src="{{ form.instance.image1.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 1">
                                {% else %}
                                    <img src="{% static 'adminlte/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-md-3">
                                {% if form.instance.image2 %}
                                    <img src="{{ form.instance.image2.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 2">
                                {% else %}
                                    <img src="{% static 'adminlte/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-md-3">
                                {% if form.instance.image3 %}
                                    <img src="{{ form.instance.image3.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 3">
                                {% else %}
                                    <img src="{% static 'adminlte/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-md-3">
                                {% if form.instance.image4 %}
                                    <img src="{{ form.instance.image4.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 4">
                                {% else %}
                                    <img src="{% static 'adminlte/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-sections" data-toggle="tab">Секції</a></li>
                                <li><a href="#tab-floors" data-toggle="tab">Поверхи</a></li>
                                <li><a href="#tab-users" data-toggle="tab">Користувачі</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active clearfix" id="tab-sections">
                                    {{ section_formset.management_form }}
                                    <div id="form-section-rows">
                                        {% for section_form in section_formset %}
                                            <div class="row form-section item-row">
                                                <div class="col-xs-12">
                                                    {% for hidden in section_form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="form-group">
                                                        <label>Назва</label>
                                                        <div class="input-group">
                                                            {{ section_form.name }}
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </div>
                                                        <div class="help-block text-danger">{{ section_form.name.errors }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-success pull-right add-section-btn" type="button">Додати</button>

                                    <div id="empty-section-form" style="display: none;">
                                        <div class="row form-section item-row">
                                            <div class="col-xs-12">
                                                {% for hidden in section_formset.empty_form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                                <div class="form-group">
                                                    <label>Назва</label>
                                                    <div class="input-group">
                                                        {{ section_formset.empty_form.name }}
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane clearfix" id="tab-floors">
                                    {{ floor_formset.management_form }}
                                    <div id="form-floor-rows">
                                        {% for floor_form in floor_formset %}
                                            <div class="row form-floor item-row">
                                                <div class="col-xs-12">
                                                    {% for hidden in floor_form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="form-group">
                                                        <label>Назва</label>
                                                        <div class="input-group">
                                                            {{ floor_form.name }}
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </div>
                                                        <div class="help-block text-danger">{{ floor_form.name.errors }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-success pull-right add-floor-btn" type="button">Додати</button>

                                    <div id="empty-floor-form" style="display: none;">
                                        <div class="row form-floor item-row">
                                            <div class="col-xs-12">
                                                {% for hidden in floor_formset.empty_form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                                <div class="form-group">
                                                    <label>Назва</label>
                                                    <div class="input-group">
                                                        {{ floor_formset.empty_form.name }}
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane clearfix" id="tab-users">
                                    {{ user_formset.management_form }}
                                    <div id="form-user-rows">
                                        {% for user_form in user_formset %}
                                            <div class="row form-user item-row">
                                                <div class="col-xs-12 col-sm-7">
                                                    {% for hidden in user_form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                    <div class="form-group {% if user_form.user.errors %}has-error{% endif %}">
                                                        <label>ФИО</label>
                                                        {{ user_form.user }}
                                                        <div class="help-block text-danger">{{ user_form.user.errors }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-5">
                                                    <div class="form-group">
                                                        <label>Роль</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control user-role-label" readonly placeholder="Роль" value="{{ user_form.instance.user.role.name|default:'' }}">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-success pull-right add-user-btn" type="button">Додати</button>

                                    <div id="empty-user-form" style="display: none;">
                                        <div class="row form-user item-row">
                                            <div class="col-xs-12 col-sm-7">
                                                {% for hidden in user_formset.empty_form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                                <div class="form-group">
                                                    <label>ФИО</label>
                                                    {{ user_formset.empty_form.user }}
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <div class="form-group">
                                                    <label>Роль</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control user-role-label" readonly placeholder="Роль">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-danger form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="{% url 'adminlte:house_list' %}" class="btn btn-default">Скасувати</a>
                            <button type="submit" class="btn btn-success">Зберегти</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    function addForm(btnClass, containerId, emptyFormId, prefix, namePrefix) {
        $(btnClass).click(function(e) {
            e.preventDefault();

            var totalFormsInput = $('#id_' + prefix + '-TOTAL_FORMS');
            var formCount = parseInt(totalFormsInput.val());

            var newForm = $(emptyFormId).html().replace(/__prefix__/g, formCount);

            $(containerId).append(newForm);
            totalFormsInput.val(formCount + 1);

            if (namePrefix) {
                var nextNumber = formCount + 1;
                var inputName = prefix + '-' + formCount + '-name';
                $('input[name="' + inputName + '"]').val(namePrefix + nextNumber);
            }
        });
    }

    addForm('.add-section-btn', '#form-section-rows', '#empty-section-form', 'sections', 'Секція ');
    addForm('.add-floor-btn', '#form-floor-rows', '#empty-floor-form', 'floors', 'Поверх ');

    addForm('.add-user-btn', '#form-user-rows', '#empty-user-form', 'users', null);

    $(document).on('click', '.form-row-remove-btn', function(e) {
        e.preventDefault();
        var row = $(this).closest('.item-row');
        var deleteCheckbox = row.find('input[type="checkbox"][name$="-DELETE"]');

        if (deleteCheckbox.length > 0) {
            deleteCheckbox.prop('checked', true);
            row.hide();
        } else {
            row.remove();
        }
    });

    $(document).on('change', '.useradmin-select', function() {
        var selectField = $(this);
        var userId = selectField.val();
        var roleLabelField = selectField.closest('.item-row').find('.user-role-label');

        if (userId) {
            var url = "/adminpanel/api/user-role?user_id=" + userId;

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    roleLabelField.val(response.role_name);
                },
                error: function() {
                    roleLabelField.val('Помилка завантаження');
                }
            });
        } else {
            roleLabelField.val('');
        }
    });
});
</script>
{% endblock %}
