{% extends 'admin_base.html' %}
{% load static %}

{% block title %}{{ house.name }}{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        {{ house.name }}
    </h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="{% url 'adminlte:house_list' %}">Дома</a></li>
        <li class="active">{{ house.name }}</li>
    </ul>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <a href="{% url 'adminlte:house_update' house.id %}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редагувати дім</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">

                <div class="col-xs-12 col-lg-4">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                            <tr>
                                <td>Назва</td>
                                <td>{{ house.name }}</td>
                            </tr>
                            <tr>
                                <td>Адреса</td>
                                <td>{{ house.address }}</td>
                            </tr>
                            <tr>
                                <td>Секції</td>
                                <td>{{ house.section_set.count }}</td>
                            </tr>
                            <tr>
                                <td>Поверхи</td>
                                <td>{{ house.floor_set.count }}</td>
                            </tr>
                            <tr>
                                <td>Користувачі</td>
                                <td>
                                    {% for admin_user in house.users.all %}
                                        <p class="no-margin">
                                            <strong>Користувач:</strong>
                                            <a href="#">{{ admin_user.get_full_name|default:admin_user.username }}</a>
                                        </p>
                                    {% empty %}
                                        <p class="no-margin text-muted">
                                            Користувачі не знайдені
                                        </p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            {% if house.main_image %}
                                <img src="{{ house.main_image.url }}" class="img-responsive largeImg margin-bottom-30" alt="Главное фото">
                            {% else %}
                                <img src="{% static 'admin/img/placeholder.jpg' %}" class="img-responsive largeImg margin-bottom-30" alt="Нет фото">
                            {% endif %}
                        </div>

                        <div class="col-xs-6 col-md-3">
                            {% if house.image1 %}
                                <img src="{{ house.image1.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 1">
                            {% else %}
                                <img src="{% static 'admin/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="Нет фото">
                            {% endif %}
                        </div>

                        <div class="col-xs-6 col-md-3">
                            {% if house.image2 %}
                                <img src="{{ house.image2.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 2">
                            {% else %}
                                <img src="{% static 'admin/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="Нет фото">
                            {% endif %}
                        </div>

                        <div class="col-xs-6 col-md-3">
                            {% if house.image3 %}
                                <img src="{{ house.image3.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 3">
                            {% else %}
                                <img src="{% static 'admin/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="Нет фото">
                            {% endif %}
                        </div>

                        <div class="col-xs-6 col-md-3">
                            {% if house.image4 %}
                                <img src="{{ house.image4.url }}" class="img-responsive smallImg margin-bottom-30" alt="Фото 4">
                            {% else %}
                                <img src="{% static 'admin/img/placeholder.jpg' %}" class="img-responsive smallImg margin-bottom-30" alt="Нет фото">
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
