{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Заявка №{{ request.id|default:"476" }}{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Заявка №{{ request.id|default:"476" }}</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="#">Заявки вызова мастера</a></li>
        <li class="active">Заявка №{{ request.id|default:"476" }}</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="form-control pull-right">{{ request.convenient_time|date:"d.m.Y"|default:"07.02.2026" }}</div>
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </div>
                        <div class="form-control pull-right">{{ request.convenient_time|date:"H:i"|default:"10:45" }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="/admin/master-request/update/{{ request.id|default:'476' }}" class="btn btn-primary btn-sm">
                            <span class="hidden-xs">Редактировать заявку</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                            <tr>
                                <td>Статус</td>
                                <td>
                                    {% if request.status == 'new' %}
                                        <small class="label label-primary">Новое</small>
                                    {% elif request.status == 'in_progress' %}
                                        <small class="label label-warning">В работе</small>
                                    {% elif request.status == 'done' %}
                                        <small class="label label-success">Выполнено</small>
                                    {% else %}
                                        <small class="label label-warning">В работе</small> {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Владелец</td>
                                <td>
                                    {% if request.flat and request.flat.owner %}
                                        <a href="{% url 'user_detail' request.flat.owner.id %}">{{ request.flat.owner.get_full_name }}</a>
                                    {% else %}
                                        <a href="#">{{ mock_owner|default:"Nana1" }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>
                                    {% if request.flat and request.flat.owner %}
                                        {{ request.flat.owner.phone }}
                                    {% else %}
                                        {{ mock_phone|default:"+380675487238" }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Квартира</td>
                                <td>
                                    {% if request.flat %}
                                        <a href="{% url 'flat_detail' request.flat.id %}">{{ request.flat.number }}, {{ request.flat.house.name }}</a>
                                    {% else %}
                                        <a href="#">{{ mock_flat|default:"1, Nan's House" }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Тип мастера</td>
                                <td>{{ request.get_master_type_display|default:"Электрик" }}</td>
                            </tr>
                            <tr>
                                <td>Мастер</td>
                                <td>
                                    {% if request.master %}
                                        <a href="{% url 'admin_detail' request.master.id %}">
                                            {{ request.master.get_full_name }} ({{ request.master.role.name }})
                                        </a>
                                    {% else %}
                                        <a href="#">{{ mock_master|default:"Михаил Кравець (Электрик)" }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Описание</td>
                                <td>{{ request.description|default:"Djn" }}</td>
                            </tr>
                            <tr>
                                <td>Добавлено</td>
                                <td>{{ request.created_at|date:"d.m.Y - H:i"|default:"07.02.2026 - 08:49" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
