{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Статті доходів/витрат{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Статті доходів/витрат</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li class="active">Статті доходів/витрат</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'adminlte:article_create' %}">Додати статтю</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                                <tr>
                                    <th>Назва</th>
                                    <th><a href="?sort=article">Прихід/витрата</a></th>
                                    <th style="width: 80px; min-width: 80px">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in articles %}
                                    <tr data-href="{% url 'adminlte:article_edit' item.id %}" style="cursor: pointer;">
                                        <td>{{ item.name }}</td>
                                        <td>
                                            {% if item.article == 'I' %}
                                                <span class="text text-green">Прихід</span>
                                            {% else %}
                                                <span class="text text-red">Витрата</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="{% url 'adminlte:article_edit' item.id %}" title="Редагувати" data-toggle="tooltip">
                                                    <i class="fa fa-pencil"></i>
                                                </a>

                                                {# {% if item.is_used %} #}
                                                {# {% else %} #}

                                                <form action="{% url 'adminlte:article_delete' item.id %}" method="post" style="display:inline;" onsubmit="return confirm('Ви впевнені, що хочете видалити цю статтю?');">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-default btn-sm" title="Видалити" data-toggle="tooltip">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>

                                                {# {% endif %} #}
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3" class="text-center text-muted" style="padding: 20px;">
                                            Статті ще не додані. <a href="{% url 'adminlte:article_create' %}">Створити першу статтю</a>.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('tr[data-href]').on('click', function(e) {
        if (!$(e.target).closest('a, button').length) {
            window.location = $(this).data('href');
        }
    });
});
</script>
{% endblock %}
