{% extends 'admin_base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Редагування статті: {{ form.instance.name }}{% else %}Нова стаття{% endif %}
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        {% if form.instance.pk %}
            Редагування статті: {{ form.instance.name }}
        {% else %}
            Нова стаття
        {% endif %}
    </h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="{% url 'adminlte:article_list' %}">Статті доходів/витрат</a></li>
        <li class="active">{% if form.instance.pk %}Редагування{% else %}Нова стаття{% endif %}</li>
    </ul>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <form id="w0" action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-lg-7">

                        <div class="form-group field-transactionpurpose-name required {% if form.name.errors %}has-error{% endif %}">
                            <label class="control-label" for="{{ form.name.id_for_label }}">Назва</label>

                            {{ form.name }}

                            <div class="help-block text-danger">{{ form.name.errors }}</div>
                        </div>

                        <div class="form-group field-transactionpurpose-type {% if form.article.errors %}has-error{% endif %}">
                            <label class="control-label" for="{{ form.article.id_for_label }}">Прихід/витрата</label>

                            {{ form.article }}

                            <div class="help-block text-danger">{{ form.article.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="{% url 'adminlte:article_list' %}" class="btn btn-default">Скасувати</a>
                            <button type="submit" class="btn btn-success">Зберегти</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
{% endblock %}
