{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Квитанция{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Квитанция</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="{% url 'invoice_list' %}">Квитанции</a></li>
        <li class="active">Квитанция №{{ invoice.uid|default:"21022601512" }}</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">№</div>
                        <div class="form-control pull-right">{{ invoice.uid|default:"21022601512" }}</div>
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="form-control pull-right">{{ invoice.date|date:"d.m.Y"|default:"21.02.2026" }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Просмотр квитанции</h3>
            <div class="box-tools">
                <a href="/admin/invoice/print/{{ invoice.id|default:'1512' }}" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Печать</span><i class="fa fa-print visible-xs" aria-hidden="true"></i>
                </a>
                <a href="/admin/invoice/send-email/{{ invoice.id|default:'1512' }}" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Отправить на e-mail</span><i class="fa fa-envelope-o visible-xs" aria-hidden="true"></i>
                </a>
                <a href="/admin/invoice/update/{{ invoice.id|default:'1512' }}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редактировать квитанцию</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-view">
                <tbody>
                    <tr>
                        <td>Проведена</td>
                        <td>
                            {% if invoice.is_checked %}
                                <small class="label label-success">Проведена</small>
                            {% else %}
                                <small class="label label-danger">Не проведена</small>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Статус</td>
                        <td>
                            {% if invoice.status == 'paid' %}
                                <small class="label label-success">Оплачена</small>
                            {% elif invoice.status == 'unpaid' %}
                                <small class="label label-danger">Неоплачена</small>
                            {% elif invoice.status == 'partially_paid' %}
                                <small class="label label-warning">Частично оплачена</small>
                            {% else %}
                                <small class="label label-success">Оплачена</small> {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Период</td>
                        <td>
                            {{ invoice.period_start|date:"d.m.Y"|default:"21.02.2026" }} - {{ invoice.period_end|date:"d.m.Y"|default:"21.02.2026" }}
                        </td>
                    </tr>
                    <tr>
                        <td>Владелец</td>
                        <td>
                            {% if invoice.flat.owner %}
                                <a href="{% url 'user_detail' invoice.flat.owner.id %}">{{ invoice.flat.owner }}</a>
                            {% else %}
                                <a href="#">{{ mock_owner|default:"Nana1" }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Лицевой счет</td>
                        <td>
                            {% if invoice.account %}
                                <a href="{% url 'account_detail' invoice.account.id %}">{{ invoice.account.uid }}</a>
                            {% else %}
                                <a href="#">{{ mock_account|default:"02022600716" }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>{{ invoice.flat.owner.phone|default:"+380675487238" }}</td>
                    </tr>
                    <tr>
                        <td>Дом</td>
                        <td>
                            {% if invoice.flat.house %}
                                <a href="{% url 'house_detail' invoice.flat.house.id %}">{{ invoice.flat.house.name }}</a>
                            {% else %}
                                <a href="#">{{ mock_house|default:"Nan's House" }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Квартира</td>
                        <td>
                            {% if invoice.flat %}
                                <a href="{% url 'flat_detail' invoice.flat.id %}">{{ invoice.flat.number }}</a>
                            {% else %}
                                <a href="#">{{ mock_flat|default:"1" }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Секция</td>
                        <td>{{ invoice.flat.section.name|default:"Секция Первая" }}</td>
                    </tr>
                    <tr>
                        <td>Тариф</td>
                        <td>
                            {% if invoice.tariff %}
                                <a href="{% url 'tariff_detail' invoice.tariff.id %}">{{ invoice.tariff.name }}</a>
                            {% else %}
                                <a href="#">{{ mock_tariff|default:"Большая семья" }}</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="table-responsive no-padding margin-top-15">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 40px; min-width: 40px;">#</th>
                            <th>Услуга</th>
                            <th>Количество потребления (расход)</th>
                            <th style="width: 80px; min-width: 80px;">Ед. изм.</th>
                            <th>Цена за ед., грн</th>
                            <th>Стоимость, грн</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="5"></td>
                            <td colspan="2"><b>Итого: {{ invoice.total_amount|default:"100.00" }}</b></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for item in invoice_items %}
                            <tr role="row">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.service.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.service.unit.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.total_cost }}</td>
                            </tr>
                        {% empty %}
                            <tr role="row">
                                <td>1</td>
                                <td>Выгул животного</td>
                                <td>1.00</td>
                                <td>час</td>
                                <td>100.00</td>
                                <td>100.00</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
