{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Квитанції на оплату{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Квитанції на оплату</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li class="active">Квитанції на оплату</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{{ cashbox_state|default:"0.00" }} грн</h3>
                            <p>Стан каси</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{{ accounts_balance|default:"0.00" }} грн</h3>
                            <p>Баланс по рахунках</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{{ accounts_debt|default:"0.00" }} грн</h3>
                            <p>Заборгованість по рахунках</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Виберіть дію <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'adminlte:receipt_create' %}">Створити загальну квитанцію</a></li>
                    <li><a href="/adminlte/api/receipts/delete-many" class="delete-many">Видалити</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{% url 'adminlte:receipt_list' %}" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <form method="GET" id="filter-form">
                            <table class="table table-bordered table-hover table-striped linkedRow">
                                <thead>
                                    <tr>
                                        <th style="width: 40px; min-width: 40px">
                                            <input type="checkbox" class="select-on-check-all" name="selection_all" value="1">
                                        </th>
                                        <th style="width: 125px; min-width: 125px">№ квитанції</th>
                                        <th style="width: 100px; min-width: 100px">Статус</th>
                                        <th style="width: 125px; min-width: 125px">Дата</th>
                                        <th style="width: 135px; min-width: 135px">Місяць</th>
                                        <th>Квартира</th>
                                        <th style="min-width: 200px">Власник</th>
                                        <th style="width: 120px; min-width: 120px">Проведена</th>
                                        <th style="width: 100px; min-width: 100px">Сума (грн)</th>
                                        <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                    </tr>
                                    <tr id="w0-filters" class="filters">
                                        <td>&nbsp;</td>
                                        <td><input type="text" class="form-control" name="number" value="{{ request.GET.number|default:'' }}" onchange="this.form.submit()"></td>
                                        <td>
                                            <select class="form-control" name="status" onchange="this.form.submit()">
                                                <option value=""></option>
                                                <option value="PAID" {% if request.GET.status == 'PAID' %}selected{% endif %}>Оплачена</option>
                                                <option value="PART" {% if request.GET.status == 'PART' %}selected{% endif %}>Частково оплачена</option>
                                                <option value="UNPD" {% if request.GET.status == 'UNPD' %}selected{% endif %}>Неоплачена</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="date" value="{{ request.GET.date|default:'' }}" placeholder="YYYY-MM-DD" onchange="this.form.submit()"></td>
                                        <td><input type="text" class="form-control" name="period" value="{{ request.GET.period|default:'' }}" placeholder="YYYY-MM" onchange="this.form.submit()"></td>
                                        <td><input type="text" class="form-control" name="apartment" value="{{ request.GET.apartment|default:'' }}" onchange="this.form.submit()"></td>
                                        <td>
                                            <select class="form-control" name="owner" onchange="this.form.submit()">
                                                <option value=""></option>
                                                {% for owner in owners %}
                                                    <option value="{{ owner.id }}" {% if request.GET.owner == owner.id|stringformat:"s" %}selected{% endif %}>{{ owner.first_name }} {{ owner.last_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="is_made_payment" onchange="this.form.submit()">
                                                <option value=""></option>
                                                <option value="1" {% if request.GET.is_made_payment == '1' %}selected{% endif %}>Проведена</option>
                                                <option value="0" {% if request.GET.is_made_payment == '0' %}selected{% endif %}>Не проведена</option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for receipt in receipts %}
                                        <tr data-href="{% url 'adminlte:receipt_detail' receipt.id %}" style="cursor: pointer;">
                                            <td><input type="checkbox" name="selection[]" value="{{ receipt.id }}"></td>
                                            <td>{{ receipt.number }}</td>
                                            <td>
                                                {% if receipt.status == 'PAID' %}
                                                    <small class="label label-success">Оплачена</small>
                                                {% elif receipt.status == 'UNPD' %}
                                                    <small class="label label-danger">Неоплачена</small>
                                                {% else %}
                                                    <small class="label label-warning">Частково оплачена</small>
                                                {% endif %}
                                            </td>
                                            <td>{{ receipt.date|date:"d.m.Y" }}</td>
                                            <td>{{ receipt.period|date:"F Y"|title }}</td>
                                            <td>{{ receipt.apartment.number }}, {{ receipt.apartment.house.name }}</td>
                                            <td>
                                                {% if receipt.apartment.owner %}
                                                    {{ receipt.apartment.owner.first_name }} {{ receipt.apartment.owner.last_name }}
                                                {% else %}
                                                    (не задано)
                                                {% endif %}
                                            </td>
                                            <td>{% if receipt.is_made_payment %}Проведена{% else %}Не проведена{% endif %}</td>
                                            <td>{{ receipt.total_sum }}</td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-sm" href="#" title="Копіювати" data-toggle="tooltip"><i class="fa fa-clone"></i></a>
                                                    <a class="btn btn-default btn-sm" href="{% url "adminlte:receipt_update" receipt.id %}" title="Редагувати" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-default btn-sm" href="{% url 'adminlte:receipt_delete' receipt.id %}" title="Видалити" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="10" class="text-center text-muted">Квитанцій не знайдено.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        {% if is_paginated %}
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% csrf_token %}

{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();

    $('tr[data-href]').on('click', function(e) {
        if (!$(e.target).closest('a, button, input').length) {
            window.location = $(this).data('href');
        }
    });

    $('.select-on-check-all').on('change', function() {
        $('input[name="selection[]"]').prop('checked', this.checked);
    });

    $('body').on('click', '.delete-many', function(e) {
        e.preventDefault();
        var ids = [];
        $('input[name="selection[]"]:checked').each(function() {
             ids.push($(this).val());
        });

        if (ids.length) {
            if (confirm('Вибрані квитанції будуть видалені. Продовжити?')) {
                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                $.ajax({
                    url: "/adminlte/api/receipts/delete-many",
                    data: {
                        'ids': ids,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    type: 'POST',
                    success: function (data) {
                        location.reload();
                    },
                    error: function (data) {
                        alert('Помилка при видаленні!');
                    }
                });
            }
        } else {
            alert('Виберіть елементи для видалення.');
        }
    });
});
</script>
{% endblock %}
