{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Квитанции на оплату{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Квитанции на оплату</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Квитанции на оплату</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{{ cashbox_state|default:"500.00" }} грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{{ accounts_balance|default:"100.00" }} грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{{ accounts_debt|default:"0.00" }} грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выберите действие <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/admin/invoice/create">Создать общую квитанцию</a></li>
                    <li><a href="#!" class="delete-many">Удалить</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="/admin/invoice/index" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                                <tr>
                                    <th style="width: 40px; min-width: 40px">
                                        <input type="checkbox" class="select-on-check-all" name="selection_all" value="1">
                                    </th>
                                    <th style="width: 125px; min-width: 125px">№ квитанции</th>
                                    <th style="width: 100px; min-width: 100px">Статус</th>
                                    <th style="width: 125px; min-width: 125px"><a href="?sort=date">Дата</a></th>
                                    <th style="width: 135px; min-width: 135px"><a href="?sort=month">Месяц</a></th>
                                    <th>Квартира</th>
                                    <th style="min-width: 200px">Владелец</th>
                                    <th style="width: 120px; min-width: 120px">Проведена</th>
                                    <th style="width: 100px; min-width: 100px">Сумма (грн)</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                                <tr id="w0-filters" class="filters">
                                    <form method="GET">
                                        <td>&nbsp;</td>
                                        <td><input type="text" class="form-control" name="uid"></td>
                                        <td>
                                            <select class="form-control" name="status">
                                                <option value=""></option>
                                                <option value="paid">Оплачена</option>
                                                <option value="partially_paid">Частично оплачена</option>
                                                <option value="unpaid">Неоплачена</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="date" placeholder="Выберите дату"></td>
                                        <td><input type="text" class="form-control" name="month_year" placeholder="ММ.ГГГГ"></td>
                                        <td><input type="text" class="form-control" name="flat"></td>
                                        <td>
                                            <select class="form-control" name="owner">
                                                <option value=""></option>
                                                <option value="1">Лисенко Павел</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="is_checked">
                                                <option value=""></option>
                                                <option value="1">Проведена</option>
                                                <option value="0">Не проведена</option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </form>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices %}
                                    <tr data-href="{% url 'invoice_detail' invoice.id %}" data-key="{{ invoice.id }}">
                                        <td><input type="checkbox" name="selection[]" value="{{ invoice.id }}"></td>
                                        <td>{{ invoice.uid }}</td>
                                        <td>
                                            {% if invoice.status == 'paid' %}
                                                <small class="label label-success">Оплачена</small>
                                            {% elif invoice.status == 'unpaid' %}
                                                <small class="label label-danger">Неоплачена</small>
                                            {% else %}
                                                <small class="label label-warning">Частично оплачена</small>
                                            {% endif %}
                                        </td>
                                        <td>{{ invoice.date|date:"d.m.Y" }}</td>
                                        <td>{{ invoice.period_start|date:"F Y" }}</td>
                                        <td>{{ invoice.flat|default:"(не задано)" }}</td>
                                        <td>{{ invoice.flat.owner|default:"(не задано)" }}</td>
                                        <td>{% if invoice.is_checked %}Проведена{% else %}Не проведена{% endif %}</td>
                                        <td>{{ invoice.amount }}</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="{% url 'invoice_create' %}?invoice_id={{ invoice.id }}" title="Копировать" data-toggle="tooltip"><i class="fa fa-clone"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'invoice_update' invoice.id %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="{% url 'invoice_delete' invoice.id %}" title="Удалить" data-toggle="tooltip" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr data-href="/admin/invoice/1512" data-key="1512">
                                        <td><input type="checkbox" name="selection[]" value="1512"></td>
                                        <td>21022601512</td>
                                        <td><small class="label label-success">Оплачена</small></td>
                                        <td>21.02.2026</td>
                                        <td>Февраль 2026</td>
                                        <td>1, Nan's House</td>
                                        <td>Nana1</td>
                                        <td>Проведена</td>
                                        <td>100.00</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Копировать" data-toggle="tooltip"><i class="fa fa-clone"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Удалить" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr data-href="/admin/invoice/1511" data-key="1511">
                                        <td><input type="checkbox" name="selection[]" value="1511"></td>
                                        <td>21022601510</td>
                                        <td><small class="label label-danger">Неоплачена</small></td>
                                        <td>21.02.2026</td>
                                        <td>Февраль 2026</td>
                                        <td>1, Nan's House</td>
                                        <td>Nana1</td>
                                        <td>Проведена</td>
                                        <td>100.00</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Копировать" data-toggle="tooltip"><i class="fa fa-clone"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Удалить" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% csrf_token %}

{% endblock %}

{% block extra_js %}
<script>
$(function () {
    // Ініціалізація тултипів
    $('[data-toggle="tooltip"]').tooltip();

    // Вибір усіх чекбоксів
    $('.select-on-check-all').on('change', function() {
        $('input[name="selection[]"]').prop('checked', this.checked);
    });
    $('body').on('click', '.delete-many', function(e) {
        e.preventDefault();
        var ids = [];
        $('input[name="selection[]"]:checked').each(function() {
             ids.push($(this).val());
        });

        if (ids.length) {
            if (confirm('Данные будут удалены. Продолжить?')) {
                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                $.ajax({
                    url: '/admin/invoice/ajax-delete-many',
                    data: {
                        'ids': ids,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    type: 'post',
                    success: function (data) {
                        console.log('SUCCESS', data);
                        location.reload();
                    },
                    error: function (data) {
                        console.log('ERROR', data);
                        alert('Ошибка при удалении!');
                    }
                });
            }
        } else {
            alert('Выберите элементы для удаления.');
        }
    });
});
</script>
{% endblock %}
