{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Ролі{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Ролі</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li class="active">Ролі</li>
    </ul>
</section>

<section class="content">
    <div class="box">

        <form action="{% url 'adminlte:roles_update' %}" method="post">
            {% csrf_token %}

            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Роль</th>
                            <th class="text-center">Статистика</th>
                            <th class="text-center">Каса</th>
                            <th class="text-center">Квитанції на оплату</th>
                            <th class="text-center">Особові рахунки</th>
                            <th class="text-center">Квартири</th>
                            <th class="text-center">Власники квартир</th>
                            <th class="text-center">Повідомлення</th>
                            <th class="text-center">Заявки виклику майстра</th>
                            <th class="text-center">Лічильники</th>
                            <th class="text-center">Управління сайтом</th>
                            <th class="text-center">Послуги</th>
                            <th class="text-center">Тарифи</th>
                            <th class="text-center">Ролі</th>
                            <th class="text-center">Користувачі</th>
                            <th class="text-center">Платіжні реквізити</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for role in roles %}
                            <tr>
                                <td>{{ role.name }}</td>
                                <td class="text-center"><input type="checkbox" name="has_statistics_{{ role.id }}" value="1" {% if role.has_statistics %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_cashbox_{{ role.id }}" value="1" {% if role.has_cashbox %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_receipt_{{ role.id }}" value="1" {% if role.has_receipt %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_own_account_{{ role.id }}" value="1" {% if role.has_own_account %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_apartment_{{ role.id }}" value="1" {% if role.has_apartment %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_owner_apartments_{{ role.id }}" value="1" {% if role.has_owner_apartments %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_message_{{ role.id }}" value="1" {% if role.has_message %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_call_master_{{ role.id }}" value="1" {% if role.has_call_master %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_counter_{{ role.id }}" value="1" {% if role.has_counter %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_manage_site_{{ role.id }}" value="1" {% if role.has_manage_site %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_service_{{ role.id }}" value="1" {% if role.has_service %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_tariffs_{{ role.id }}" value="1" {% if role.has_tariffs %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_roles_{{ role.id }}" value="1" {% if role.has_roles %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_user_{{ role.id }}" value="1" {% if role.has_user %}checked{% endif %}></td>
                                <td class="text-center"><input type="checkbox" name="has_account_detail_{{ role.id }}" value="1" {% if role.has_account_detail %}checked{% endif %}></td>
                                <td class="text-center">
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="17" class="text-center text-muted">
                                    <em>Ролі ще не додані. Натисніть "Додати роль", щоб створити нову.</em>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-xs-12 text-right">
                    <div class="form-group margin-top-15 margin-right-15">
                        <a href="{% url 'adminlte:statistic' %}" class="btn btn-default">Скасувати</a>
                        <button type="submit" class="btn btn-success">Зберегти</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


{% endblock %}
