{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Редагування сторінки "Послуги"{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Редагування сторінки</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li class="active">Редагування сторінки "Послуги"</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Редагування сторінки "Послуги"</h3>
                </div>
                <div class="box-body">
                    <form id="service-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ info.management_form }}

                        <div class="row near-img">
                            <div class="col-xs-12">
                                <h3 class="page-header">Послуги</h3>
                            </div>
                            <div id="form-info-rows">
                                {% for form in info %}
                                    <div class="col-md-4 form-websiteservice">
                                        <h4>
                                            Послуга <span class="service-number">{{ forloop.counter }}</span>
                                            {% if form.instance.pk %}
                                                <div class="pull-right">
                                                    <label>{{ form.DELETE }} Видалити</label>
                                                </div>
                                            {% endif %}
                                        </h4>

                                        {% if form.instance.image %}
                                            <img src="{{ form.instance.image.url }}" class="img-responsive margin-bottom-15" style="max-height: 150px;">
                                        {% else %}
                                            <img src="{% static 'admin/dist/img/placeholder.jpg' %}" class="img-responsive margin-bottom-15">
                                        {% endif %}

                                        {{ form.id }} <div class="form-group">
                                            <label>Рекомендований розмір: (650x300)</label>
                                            {{ form.image }}
                                            <div class="text-danger">{{ form.image.errors }}</div>
                                        </div>

                                        <div class="form-group">
                                            <label>Назва послуги</label>
                                            {{ form.title }}
                                            <div class="text-danger">{{ form.title.errors }}</div>
                                        </div>

                                        <div class="form-group margin-bottom-30">
                                            <label>Опис послуги</label>
                                            {{ form.description }}
                                            <div class="text-danger">{{ form.description.errors }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Налаштування SEO</h3>
                                <div class="form-group">
                                    <label>Title</label>
                                    {{ seo_block.title }}
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    {{ seo_block.description }}
                                </div>
                                <div class="form-group">
                                    <label>Keywords</label>
                                    {{ seo_block.keywords }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <a href="{% url 'adminlte:statistic' %}" class="btn btn-default">Скасувати</a>
                                    <button type="button" class="btn btn-success bg-green-active form-row-add-service-btn">Додати послугу</button>
                                    <button type="submit" class="btn btn-success">Зберегти</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="empty-form" style="display:none;">
    <div class="col-md-4 form-websiteservice">
        <h4>Нова послуга</h4>
        <div class="form-group">
            <label>Зображення</label>
            {{ info.empty_form.image }}
        </div>
        <div class="form-group">
            <label>Назва</label>
            {{ info.empty_form.title }}
        </div>
        <div class="form-group">
            <label>Опис</label>
            {{ info.empty_form.description }}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
jQuery(function ($) {
    $('.form-row-add-service-btn').click(function() {
        var formIdx = $('#id_info-TOTAL_FORMS').val();
        var newForm = $('#empty-form').html().replace(/__prefix__/g, formIdx);

        $('#form-info-rows').append(newForm);
        $('#id_info-TOTAL_FORMS').val(parseInt(formIdx) + 1);

        addTextEditor();
    });

    function addTextEditor() {
        $('.form-websiteservice textarea').addClass('form-control');
    }

    addTextEditor();
});
</script>
{% endblock %}
