{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Редактирование страницы "Услуги"{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Редактирование страницы</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Редактирование страницы "Услуги"</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Редактирование страницы "Услуги"</h3>
                </div>
                <div class="box-body">
                    <form id="w0" action="{% url 'website_services_update' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row near-img">
                            <div class="col-xs-12">
                                <h3 class="page-header">Услуги</h3>
                            </div>
                            <div id="form-websiteservice-rows">
                                {% for service in services %}
                                    <div id="form-websiteservice-{{ forloop.counter0 }}" class="col-md-4 form-websiteservice">
                                        <h4>
                                            Услуга {{ forloop.counter }}
                                            <a href="{% url 'website_service_delete' service.id %}" class="pull-right text-red" onclick="return confirm('Удалить?');">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </h4>

                                        {% if service.image %}
                                            <img src="{{ service.image.url }}" alt="{{ service.title }}" class="img-responsive margin-bottom-15">
                                        {% else %}
                                            <img src="{% static 'admin/dist/img/placeholder.jpg' %}" alt="" class="img-responsive margin-bottom-15" onerror="this.src='https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&w=650&h=300&fit=crop'">
                                        {% endif %}

                                        <input type="hidden" id="websiteservice-{{ forloop.counter0 }}-id" name="WebsiteService[{{ forloop.counter0 }}][id]" value="{{ service.id }}">

                                        <div class="form-group">
                                            <label for="websiteservice-{{ forloop.counter0 }}-imagefile">Рекомендуемый размер: (650x300)</label>
                                            <input type="file" id="websiteservice-{{ forloop.counter0 }}-imagefile" class="form-control" name="WebsiteService[{{ forloop.counter0 }}][imageFile]" accept="image/*">
                                        </div>

                                        <div class="form-group">
                                            <label for="websiteservice-{{ forloop.counter0 }}-title">Название услуги</label>
                                            <input type="text" id="websiteservice-{{ forloop.counter0 }}-title" class="form-control" name="WebsiteService[{{ forloop.counter0 }}][title]" value="{{ service.title }}">
                                        </div>

                                        <div class="form-group margin-bottom-30">
                                            <label for="websiteservice-{{ forloop.counter0 }}-description">Описание услуги</label>
                                            <textarea id="websiteservice-{{ forloop.counter0 }}-description" class="compose-textarea editor-init form-control" name="WebsiteService[{{ forloop.counter0 }}][description]" placeholder="Текст описания">{{ service.description }}</textarea>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div id="form-websiteservice-0" class="col-md-4 form-websiteservice">
                                        <h4>Услуга 1</h4>
                                        <img src="https://myhouse24.demodev.cc/site/glide?path=%2Fupload%2Fplaceholder.jpg&w=650&h=300&fit=crop" alt="" class="img-responsive margin-bottom-15">
                                        <input type="hidden" name="WebsiteService[0][id]" value="">
                                        <div class="form-group">
                                            <label>Рекомендуемый размер: (650x300)</label>
                                            <input type="file" class="form-control" name="WebsiteService[0][imageFile]" accept="image/*">
                                        </div>
                                        <div class="form-group">
                                            <label>Название услуги</label>
                                            <input type="text" class="form-control" name="WebsiteService[0][title]" value="Тестовая услуга">
                                        </div>
                                        <div class="form-group margin-bottom-30">
                                            <label>Описание услуги</label>
                                            <textarea class="compose-textarea editor-init form-control" name="WebsiteService[0][description]"></textarea>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Настройки SEO</h3>
                                <div class="form-group field-websiteserviceform-servicemetatitle">
                                    <label class="control-label" for="websiteserviceform-servicemetatitle">Title</label>
                                    <input type="text" id="websiteserviceform-servicemetatitle" class="form-control" name="WebsiteServiceForm[serviceMetaTitle]" value="{{ seo.title|default:'These are our services1' }}">
                                </div>
                                <div class="form-group field-websiteserviceform-servicemetadescription">
                                    <label class="control-label" for="websiteserviceform-servicemetadescription">Description</label>
                                    <textarea id="websiteserviceform-servicemetadescription" class="form-control" name="WebsiteServiceForm[serviceMetaDescription]" rows="6">{{ seo.description|default:'These are our services1' }}</textarea>
                                </div>
                                <div class="form-group field-websiteserviceform-servicemetakeywords">
                                    <label class="control-label" for="websiteserviceform-servicemetakeywords">Keywords</label>
                                    <textarea id="websiteserviceform-servicemetakeywords" class="form-control" name="WebsiteServiceForm[serviceMetaKeywords]" rows="6">{{ seo.keywords|default:'These are our services1' }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <a href="{% url 'website_services' %}" class="btn btn-default">Отменить</a>
                                    <button type="button" role="button" class="btn btn-success bg-green-active form-row-add-websiteservice-btn">Добавить услугу</button>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
jQuery(function ($) {
    // Встановлюємо наступний індекс для нової форми послуги
    var formIdWebsiteServiceNext = $('.form-websiteservice').length || 1;

    // Видалення незбереженого блоку послуги зі сторінки
    $(document).on('click', '.form-row-remove-btn', function(e){
        e.preventDefault();
        if (confirm('Удалить?')) {
            $(this).closest('.form-websiteservice').remove();
        }
    });

    // Додавання нового блоку послуги
    $(document).on('click', '.form-row-add-websiteservice-btn', function(e){
        $.ajax({
            // URL твоєї Django View для генерації HTML-шматка форми
            url: "{% url 'ajax_get_website_service_form' %}?form_id=" + formIdWebsiteServiceNext,
            dataType: 'html', // В Django краще віддавати відрендерений HTML
            success: function(html) {
                $('#form-websiteservice-rows').append(html);
                formIdWebsiteServiceNext++;
                // Ініціалізуємо WYSIWYG на нових текстових полях
                addTextEditor();
            }
        });
    });

    // Функція ініціалізації текстового редактора WYSIWYG
    function addTextEditor() {
        $("textarea.compose-textarea.editor-init").wysihtml5({
            locale: 'ru-RU',
            toolbar: {
                "font-styles": true,
                "emphasis": true,
                "lists": true,
                "html": false,
                "link": false,
                "image": false,
                "color": false,
                "blockquote": false,
                "fa": true,
                "size": 'none'
            }
        }).removeClass('editor-init'); // Видаляємо клас, щоб повторно не ініціалізувати
    }

    // Запускаємо при завантаженні сторінки
    addTextEditor();
});
</script>
{% endblock %}
