{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Статистика</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="page-header">У вашому обслуговуванні</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ houses_count|default:"0" }}</h3>
                    <p>Будинків</p>
                </div>
                <div class="icon">
                    <i class="fa fa-building"></i>
                </div>
                <a href="/admin/house/index" class="small-box-footer">
                    Перейти до будинків <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ active_users_count|default:"0" }}</h3>
                    <p>Активних власників</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="/admin/user/index" class="small-box-footer">
                    Перейти до власників <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ master_requests_in_progress|default:"0" }}</h3>
                    <p>Заявок майстра в роботі</p>
                </div>
                <div class="icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <a href="/admin/master-request/index" class="small-box-footer">
                    Перейти до заявок <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ flats_count|default:"0" }}</h3>
                    <p>Квартир</p>
                </div>
                <div class="icon">
                    <i class="fa fa-key"></i>
                </div>
                <a href="/admin/flat/index" class="small-box-footer">
                    Перейти до квартир <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ accounts_count|default:"0" }}</h3>
                    <p>Особових рахунків</p>
                </div>
                <div class="icon">
                    <i class="fa fa-child"></i>
                </div>
                <a href="/admin/account/index" class="small-box-footer">
                    Перейти до рахунків <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ new_master_requests|default:"0" }}</h3>
                    <p>Нових заявок майстра</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="/admin/master-request/index" class="small-box-footer">
                    Перейти до заявок <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-7 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Графік погашення квитанцій, грн</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height: 201px;"></canvas>
                        <div id="barChart-legend" class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Заборгованість по рахунках, грн</span>
                    <span class="info-box-number">{{ total_debt|default:"0.00" }}</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Баланс по рахунках, грн</span>
                    <span class="info-box-number">{{ total_balance|default:"0.00" }}</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Стан каси, грн</span>
                    <span class="info-box-number">{{ cashbox_state|default:"0.00" }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Графік прибутків та витрат по касі, грн</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart2" style="height: 230px;"></canvas>
                        <div id="barChart2-legend" class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
jQuery(function ($) {
    $(function () {
        'use strict';

        var chartLabels = ["січ., 2026","лют., 2026","бер., 2026","квіт., 2026","трав., 2026","черв., 2026","лип., 2026","серп., 2026","вер., 2026","жовт., 2026","лист., 2026","груд., 2026"];

        var areaChartData = {
            labels  : chartLabels,
            datasets: [
                {
                    label               : 'Заборгованість',
                    fillColor           : 'rgba(221, 75, 57, 1)',
                    strokeColor         : 'rgba(221, 75, 57, 1)',
                    data                : {{ chart1_debt_data|default:"[0,0,0,0,0,0,0,0,0,0,0,0]"|safe }}
                },
                {
                    label               : 'Погашення заборгованості',
                    fillColor           : 'rgba(0, 166, 90, 1)',
                    strokeColor         : 'rgba(0, 166, 90, 1)',
                    data                : {{ chart1_repayment_data|default:"[0,0,0,0,0,0,0,0,0,0,0,0]"|safe }}
                }
            ]
        };

        var barChartCanvas = $('#barChart').get(0).getContext('2d');
        var barChart = new Chart(barChartCanvas);
        var barChartData = areaChartData;
        var barChartOptions = {
            scaleBeginAtZero        : true,
            scaleShowGridLines      : true,
            scaleGridLineColor      : 'rgba(0,0,0,.05)',
            scaleGridLineWidth      : 1,
            scaleShowHorizontalLines: true,
            scaleShowVerticalLines  : true,
            barShowStroke           : true,
            barStrokeWidth          : 2,
            barValueSpacing         : 5,
            barDatasetSpacing       : 1,
            legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){ %><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){ %><%=datasets[i].label%><% } %></li><% } %></ul>',
            responsive              : true,
            maintainAspectRatio     : true
        };

        barChartOptions.datasetFill = false;
        var myBarChart = barChart.Bar(barChartData, barChartOptions);
        document.getElementById('barChart-legend').innerHTML = myBarChart.generateLegend();

        var areaChartData2 = {
            labels  : chartLabels,
            datasets: [
                {
                    label               : 'Прибуток',
                    fillColor           : 'rgba(0, 166, 90, 1)',
                    strokeColor         : 'rgba(0, 166, 90, 1)',
                    data                : {{ chart2_income_data|default:'[0,0,0,0,0,0,0,0,0,0,0,0]'|safe }}
                },
                {
                    label               : 'Витрата',
                    fillColor           : 'rgba(221, 75, 57, 1)',
                    strokeColor         : 'rgba(221, 75, 57, 1)',
                    data                : {{ chart2_expense_data|default:'[0,0,0,0,0,0,0,0,0,0,0,0]'|safe }}
                }
            ]
        };

        var barChart2Canvas = $('#barChart2').get(0).getContext('2d');
        var barChart2 = new Chart(barChart2Canvas);
        var barChart2Data = areaChartData2;
        var barChart2Options = barChartOptions;

        barChart2Options.datasetFill = false;
        var myBarChart2 = barChart2.Bar(barChart2Data, barChart2Options);
        document.getElementById('barChart2-legend').innerHTML = myBarChart2.generateLegend();
    });
});
</script>
{% endblock %}
