{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Статистика</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="page-header">В вашем обслуживании</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ houses_count|default:"110" }}</h3>
                    <p>Домов</p>
                </div>
                <div class="icon">
                    <i class="fa fa-building"></i>
                </div>
                <a href="/admin/house/index" class="small-box-footer">
                    Перейти в дома <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ active_users_count|default:"59" }}</h3>
                    <p>Активных владельцев</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="/admin/user/index" class="small-box-footer">
                    Перейти к владельцам <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ master_requests_in_progress|default:"4" }}</h3>
                    <p>Заявок мастера в работе</p>
                </div>
                <div class="icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <a href="/admin/master-request/index" class="small-box-footer">
                    Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ flats_count|default:"156" }}</h3>
                    <p>Квартир</p>
                </div>
                <div class="icon">
                    <i class="fa fa-key"></i>
                </div>
                <a href="/admin/flat/index" class="small-box-footer">
                    Перейти в квартиры <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ accounts_count|default:"10" }}</h3>
                    <p>Лицевых счетов</p>
                </div>
                <div class="icon">
                    <i class="fa fa-child"></i>
                </div>
                <a href="/admin/account/index" class="small-box-footer">
                    Перейти к счетам <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ new_master_requests|default:"18" }}</h3>
                    <p>Новых заявок мастера</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="/admin/master-request/index" class="small-box-footer">
                    Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-7 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">График погашения квитанций, грн</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height: 201px;"></canvas>
                        <div id="barChart-legend" class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Задолженность по счетам, грн</span>
                    <span class="info-box-number">{{ total_debt|default:"0.00" }}</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Баланс по счетам, грн</span>
                    <span class="info-box-number">{{ total_balance|default:"100.00" }}</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Состояние кассы, грн</span>
                    <span class="info-box-number">{{ cashbox_state|default:"500.00" }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">График приходов и расходов по кассе, грн</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart2" style="height: 230px;"></canvas>
                        <div id="barChart2-legend" class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
jQuery(function ($) {
    $(function () {
        'use strict';

        // Місяці для графіка (можна буде потім передавати з бекенду через JSON)
        var chartLabels = ["янв., 2026","февр., 2026","март, 2026","апр., 2026","май, 2026","июнь, 2026","июль, 2026","авг., 2026","сент., 2026","окт., 2026","нояб., 2026","дек., 2026"];

        //-------------
        //- BAR CHART 1 - Графік погашення квитанцій
        //-------------
        var areaChartData = {
            labels  : chartLabels,
            datasets: [
                {
                    label               : 'Задолженность',
                    fillColor           : 'rgba(221, 75, 57, 1)',
                    strokeColor         : 'rgba(221, 75, 57, 1)',
                    data                : {{ chart1_debt_data|default:"[200,100,0,0,0,0,0,0,0,0,0,0]" }}
                },
                {
                    label               : 'Погашение задолженности',
                    fillColor           : 'rgba(0, 166, 90, 1)',
                    strokeColor         : 'rgba(0, 166, 90, 1)',
                    data                : {{ chart1_repayment_data|default:"[100,100,0,0,0,0,0,0,0,0,0,0]" }}
                }
            ]
        };

        var barChartCanvas = $('#barChart').get(0).getContext('2d');
        var barChart = new Chart(barChartCanvas);
        var barChartData = areaChartData;
        var barChartOptions = {
            scaleBeginAtZero        : true,
            scaleShowGridLines      : true,
            scaleGridLineColor      : 'rgba(0,0,0,.05)',
            scaleGridLineWidth      : 1,
            scaleShowHorizontalLines: true,
            scaleShowVerticalLines  : true,
            barShowStroke           : true,
            barStrokeWidth          : 2,
            barValueSpacing         : 5,
            barDatasetSpacing       : 1,
            legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){ %><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){ %><%=datasets[i].label%><% } %></li><% } %></ul>',
            responsive              : true,
            maintainAspectRatio     : true
        };

        barChartOptions.datasetFill = false;
        var myBarChart = barChart.Bar(barChartData, barChartOptions);
        document.getElementById('barChart-legend').innerHTML = myBarChart.generateLegend();

        //-------------
        //- BAR CHART 2 - Графік приходів і витрат
        //-------------
        var areaChartData2 = {
            labels  : chartLabels,
            datasets: [
                {
                    label               : 'Приход',
                    fillColor           : 'rgba(0, 166, 90, 1)',
                    strokeColor         : 'rgba(0, 166, 90, 1)',
                    data                : {{ chart2_income_data|default:'["500.00","100.00",null,null,null,null,null,null,null,null,null,null]'|safe }}
                },
                {
                    label               : 'Расход',
                    fillColor           : 'rgba(221, 75, 57, 1)',
                    strokeColor         : 'rgba(221, 75, 57, 1)',
                    data                : {{ chart2_expense_data|default:'[null,"100.00",null,null,null,null,null,null,null,null,null,null]'|safe }}
                }
            ]
        };

        var barChart2Canvas = $('#barChart2').get(0).getContext('2d');
        var barChart2 = new Chart(barChart2Canvas);
        var barChart2Data = areaChartData2;
        var barChart2Options = barChartOptions; // Налаштування однакові

        barChart2Options.datasetFill = false;
        var myBarChart2 = barChart2.Bar(barChart2Data, barChart2Options);
        document.getElementById('barChart2-legend').innerHTML = myBarChart2.generateLegend();
    });
});
</script>
{% endblock %}
