{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Тариф: {{ tariff.name|default:"Новий тариф" }} - Редактирование{% endblock %}

{% block content %}
<section class="content">
    <div class="box">
        <div class="box-body">
            <form id="w0" action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-lg-7">
                        <div class="form-group field-tariff-name">
                            <label class="control-label" for="tariff-name">Название тарифа</label>
                            {{ form.name }}
                            <div class="help-block text-danger">{{ form.name.errors }}</div>
                        </div>
                        <div class="form-group field-tariff-description">
                            <label class="control-label" for="tariff-description">Описание тарифа</label>
                            {{ form.description }}
                            <div class="help-block text-danger">{{ form.description.errors }}</div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-7">
                        {{ formset.management_form }}

                        <div id="form-tariffservice-rows">
                            {% for service_form in formset.forms %}
                                <div class="row form-tariffservice margin-bottom-15">
                                    {% for hidden in service_form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    <div class="col-xs-6 col-md-4">
                                        <div class="form-group margin-bottom-0">
                                            <label>Услуга</label>
                                            {{ service_form.service }}
                                            <div class="text-danger">{{ service_form.service.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="form-group margin-bottom-0">
                                            <label>Цена за ед.</label>
                                            {{ service_form.price_per_unit }}
                                            <div class="text-danger">{{ service_form.price_per_unit.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <div class="form-group margin-bottom-0">
                                            <label>Валюта</label>
                                            <input type="text" class="form-control service-currency" value="{% if service_form.instance.service.currency %}{{ service_form.instance.service.currency.name }}{% endif %}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="form-group margin-bottom-0">
                                            <label>Ед. изм.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control serviceunit-name" value="{% if service_form.instance.service.measure %}{{ service_form.instance.service.measure.name }}{% endif %}" readonly>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default form-row-remove-btn"><i class="fa fa-trash"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button" id="btn-add-service" class="btn btn-default btn-hover-change pull-left margin-bottom-15">Добавить услугу</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-lg-7 text-right">
                        <div class="form-group">
                            <a href="{% url 'adminlte:tariff_list' %}" class="btn btn-default">Отменить</a>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div id="empty-form-template" style="display: none;">
    <div class="row form-tariffservice margin-bottom-15">
        {% for hidden in formset.empty_form.hidden_fields %}{{ hidden }}{% endfor %}
        <div class="col-xs-6 col-md-4">
            <div class="form-group margin-bottom-0">
                <label>Услуга</label>
                {{ formset.empty_form.service }}
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group margin-bottom-0">
                <label>Цена за ед.</label>
                {{ formset.empty_form.price_per_unit }}
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="form-group margin-bottom-0">
                <label>Валюта</label>
                <input type="text" class="form-control service-currency" readonly>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="form-group margin-bottom-0">
                <label>Ед. изм.</label>
                <div class="input-group">
                    <input type="text" class="form-control serviceunit-name" readonly>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default form-row-remove-btn"><i class="fa fa-trash"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
jQuery(function ($) {
    $('#btn-add-service').click(function(e) {
        e.preventDefault();
        var formCount = parseInt($('#id_tariffservice_set-TOTAL_FORMS').val());
        var template = $('#empty-form-template').html();

        var compiledHtml = template.replace(/__prefix__/g, formCount);

        $('#form-tariffservice-rows').append(compiledHtml);
        $('#id_tariffservice_set-TOTAL_FORMS').val(formCount + 1);
    });

    $(document).on('click', '.form-row-remove-btn', function(e){
        e.preventDefault();
        var row = $(this).closest('.form-tariffservice');

        if (confirm('Удалить эту услугу из тарифа?')) {
            var deleteCheckbox = row.find('input[type="checkbox"][name$="-DELETE"]');
            if (deleteCheckbox.length > 0) {
                deleteCheckbox.prop('checked', true);
                row.hide();
            } else {
                row.remove();
            }
        }
    });

    $(document).on('change', '.service-select', function(e){
        var selector = $(this);
        var serviceId = selector.val();
        var row = selector.closest('.form-tariffservice');

        if (serviceId) {
            $.ajax({
                url: "/adminpanel/api/service-unit?service_id=" + serviceId,
                dataType: 'json',
                success: function(json) {
                    row.find('.serviceunit-name').val(json.unit_name);
                    row.find('.service-currency').val(json.currency);
                }
            });
        } else {
            row.find('.serviceunit-name').val('');
            row.find('.service-currency').val('');
        }
    });
});
</script>
{% endblock %}
