{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Тариф: {{ tariff.name|default:"Тариф 1" }}{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Тариф: {{ tariff.name|default:"Тариф 1" }}</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="{% url 'adminlte:tariff_list' %}">Тарифы</a></li>
        <li class="active">Тариф: {{ tariff.name|default:"Тариф 1" }}</li>
    </ul>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <a href="{% url 'adminlte:tariff_update' tariff.id|default:'262' %}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редактировать тариф</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-view">
                <tbody>
                    <tr>
                        <td>Название тарифа</td>
                        <td>{{ tariff.name|default:"Тариф 1" }}</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>{{ tariff.description|default:"Тариф 1" }}</td>
                    </tr>
                    <tr>
                        <td>Дата редактирования</td>
                        <td>{{ tariff.updated_at|date:"d.m.Y - H:i"|default:"05.02.2026 - 02:13" }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-responsive no-padding margin-top-15">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Услуга</th>
                            <th>Ед. изм.</th>
                            <th>Цена за ед., грн</th>
                            <th>Валюта</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in tariff_services %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.service.name }}</td>
                                <td>{{ item.service.unit.name }}</td>
                                <td>{{ item.price_per_unit }}</td>
                                <td>{{ item.currency|default:"грн" }}</td>
                            </tr>
                        {% empty %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
