{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Користувачі{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Користувачі</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'adminlte:statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li class="active">Користувачі</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'adminlte:user_create' %}">Створити користувача</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{% url 'adminlte:users_list' %}" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><a href="?sort=name">Користувач</a></th>
                                    <th><a href="?sort=role">Роль</a></th>
                                    <th>Телефон</th>
                                    <th>Email (логін)</th>
                                    <th>Статус</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                                <tr id="w0-filters" class="filters">
                                    <form method="GET">
                                        <td>&nbsp;</td>
                                        <td><input type="text" class="form-control" name="name" value="{{ request.GET.name }}"></td>
                                        <td>
                                            <select class="form-control" name="role" onchange="this.form.submit()">
                                                <option value=""></option>
                                                {% for role in roles %}
                                                    <option value="{{ role.name }}" {% if request.GET.role == role.name %}selected{% endif %}>{{ role.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="phone" value="{{ request.GET.phone }}"></td>
                                        <td><input type="text" class="form-control" name="email" value="{{ request.GET.email }}"></td>
                                        <td>
                                            <select class="form-control" name="status" onchange="this.form.submit()">
                                                <option value=""></option>
                                                <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>Активний</option>
                                                <option value="new" {% if request.GET.status == 'new' %}selected{% endif %}>Новий</option>
                                                <option value="disabled" {% if request.GET.status == 'disabled' %}selected{% endif %}>Відключений</option>
                                            </select>
                                        </td>
                                        <td><button type="submit" style="display: none;"></button></td>
                                    </form>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr data-href="{% if user == request.user %}{% url 'adminlte:user_profile' %}{% else %}{% url 'adminlte:user_detail' user.id %}{% endif %}" data-key="{{ user.id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ user.get_full_name|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td>{{ user.role.name|default:"Директор" }}</td>
                                        <td>{{ user.phone_number }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {% if user.status == 'active' %}
                                                <small class="label label-success">Активний</small>
                                            {% elif user.status == 'new' %}
                                                <small class="label label-warning">Новий</small>
                                            {% else %}
                                                <small class="label label-danger">Відключений</small>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Відправити запрошення" data-toggle="tooltip"><i class="fa fa-repeat"></i></a>

                                                <a class="btn btn-default btn-sm" href="{% if user == request.user %}{% url 'adminlte:user_profile' %}{% else %}{% url 'adminlte:user_edit' user.id %}{% endif %}" title="Редагувати" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>

                                                {% if user == request.user %}
                                                    <button class="btn btn-default btn-sm disabled"><i class="fa fa-trash"></i></button>
                                                {% else %}
                                                    <form action="{% url 'adminlte:user_delete' user.id %}" method="post" style="display: inline;" onsubmit="return confirm('Ви впевнені, що хочете видалити цього користувача?');">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-default btn-sm" title="Видалити" data-toggle="tooltip">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center text-muted">
                                            <em>Користувачів не знайдено.</em>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if is_paginated %}
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% if page_obj.has_previous %}
                                <li class="prev"><a href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">&laquo;</a></li>
                            {% else %}
                                <li class="prev disabled"><span>&laquo;</span></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}&{{ query_params }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="next"><a href="?page={{ page_obj.next_page_number }}&{{ query_params }}">&raquo;</a></li>
                            {% else %}
                                <li class="next disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
