{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<section class="content-header">
    <h1>Пользователи</h1>
    <ul class="breadcrumb">
        <li><a href="{% url 'admin_home' %}"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Пользователи</li>
    </ul>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'admin_create' %}">Создать пользователя</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{% url 'admin_list' %}" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><a href="?sort=name">Пользователь</a></th>
                                    <th><a href="?sort=role">Роль</a></th>
                                    <th>Телефон</th>
                                    <th>Email (логин)</th>
                                    <th>Статус</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                                <tr id="w0-filters" class="filters">
                                    <form method="GET">
                                        <td>&nbsp;</td>
                                        <td><input type="text" class="form-control" name="name" value="{{ request.GET.name }}"></td>
                                        <td>
                                            <select class="form-control" name="role">
                                                <option value=""></option>
                                                <option value="director" {% if request.GET.role == 'director' %}selected{% endif %}>Директор</option>
                                                <option value="manager" {% if request.GET.role == 'manager' %}selected{% endif %}>Управляющий</option>
                                                <option value="accountant" {% if request.GET.role == 'accountant' %}selected{% endif %}>Бухгалтер</option>
                                                <option value="electrician" {% if request.GET.role == 'electrician' %}selected{% endif %}>Электрик</option>
                                                <option value="plumber" {% if request.GET.role == 'plumber' %}selected{% endif %}>Сантехник</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" name="phone" value="{{ request.GET.phone }}"></td>
                                        <td><input type="text" class="form-control" name="email" value="{{ request.GET.email }}"></td>
                                        <td>
                                            <select class="form-control" name="status">
                                                <option value=""></option>
                                                <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>Активен</option>
                                                <option value="new" {% if request.GET.status == 'new' %}selected{% endif %}>Новый</option>
                                                <option value="disabled" {% if request.GET.status == 'disabled' %}selected{% endif %}>Отключен</option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>
                                    </form>
                                </tr>
                            </thead>
                            <tbody>
                                {% for admin in admins %}
                                    <tr data-href="{% if admin == request.user %}{% url 'admin_profile' %}{% else %}{% url 'admin_detail' admin.id %}{% endif %}" data-key="{{ admin.id }}">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ admin.get_full_name|default:"<span class='not-set'>(не задано)</span>"|safe }}</td>
                                        <td>{{ admin.role.name|default:"Директор" }}</td>
                                        <td>{{ admin.phone }}</td>
                                        <td>{{ admin.email }}</td>
                                        <td>
                                            {% if admin.status == 'active' %}
                                                <small class="label label-success">Активен</small>
                                            {% elif admin.status == 'new' %}
                                                <small class="label label-warning">Новый</small>
                                            {% else %}
                                                <small class="label label-danger">Отключен</small>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="{% url 'admin_invite' admin.id %}" title="Отправить приглашение" data-toggle="tooltip"><i class="fa fa-repeat"></i></a>

                                                <a class="btn btn-default btn-sm" href="{% if admin == request.user %}{% url 'admin_profile' %}{% else %}{% url 'admin_update' admin.id %}{% endif %}" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>

                                                {% if admin == request.user %}
                                                    <button class="btn btn-default btn-sm disabled"><i class="fa fa-trash"></i></button>
                                                {% else %}
                                                    <a class="btn btn-default btn-sm" href="{% url 'admin_delete' admin.id %}" title="Удалить" data-toggle="tooltip" data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?"><i class="fa fa-trash"></i></a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr data-href="#">
                                        <td>1</td>
                                        <td>Nana Nanovna</td>
                                        <td>Директор</td>
                                        <td>+380990010101</td>
                                        <td>admin@admin.com</td>
                                        <td><small class="label label-success">Активен</small></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Отправить приглашение" data-toggle="tooltip"><i class="fa fa-repeat"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <button class="btn btn-default btn-sm disabled"><i class="fa fa-trash"></i></button> </div>
                                        </td>
                                    </tr>
                                    <tr data-href="#">
                                        <td>2</td>
                                        <td>Виктория Виктория</td>
                                        <td>Сантехник</td>
                                        <td>+388899554344</td>
                                        <td>123123@gmail.1235</td>
                                        <td><small class="label label-danger">Отключен</small></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-sm" href="#" title="Отправить приглашение" data-toggle="tooltip"><i class="fa fa-repeat"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Редактировать" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm" href="#" title="Удалить" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li class="prev disabled"><span>&laquo;</span></li>
                            <li class="active"><a href="?page=1">1</a></li>
                            <li><a href="?page=2">2</a></li>
                            <li><a href="?page=3">3</a></li>
                            <li class="next"><a href="?page=2">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
