{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">

    <title>{% block title %}Личный кабинет{% endblock %}</title>

    <link href="{% static 'cabinet/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/Ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/plugins/iCheck/flat/blue.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/skins/_all-skins.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
    <link href="{% static 'cabinet/custom.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body class="hold-transition skin-black-light sidebar-mini fixed">
<div class="wrapper">

    <header class="main-header">
        <a href="{% url 'crm:summary' %}" class="logo">
            <span class="logo-mini">
                <img src="{% static 'logo-mini.svg' %}" class="img-responsive" alt="">
            </span>
            <span class="logo-lg">
                <img src="{% static 'logo.svg' %}" class="img-responsive" alt="">
            </span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="header-title">Личный кабинет</div>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            {% if unread_messages_count %}
                                <span class="label label-warning">{{ unread_messages_count }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">
                                {% if unread_messages_count %}
                                    Новых сообщений: {{ unread_messages_count }}
                                {% else %}
                                    Нет новых сообщений
                                {% endif %}
                            </li>
                            <li class="footer"><a href="#">Перейти в раздел сообщений</a></li>
                        </ul>
                    </li>

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if request.user.avatar %}
                                <img src="{{ request.user.avatar.url }}" class="user-image" alt="{{ request.user.get_full_name }}">
                            {% else %}
                                <img src="{% static 'cabinet/dist/img/avatar.png' %}" class="user-image" alt="Avatar">
                            {% endif %}
                            <span class="hidden-xs">{{ request.user.get_full_name|default:"Пользователь" }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                {% if request.user.avatar %}
                                    <img src="{{ request.user.avatar.url }}" class="img-circle" alt="{{ request.user.get_full_name }}">
                                {% else %}
                                    <img src="{% static 'cabinet/dist/img/avatar.png' %}" class="img-circle" alt="Avatar">
                                {% endif %}
                                <p>{{ request.user.get_full_name|default:"Пользователь" }}</p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="btn btn-default btn-flat" href="#">Профиль</a>
                                </div>
                                <div class="pull-right">
                                    <form action="#" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default btn-flat">Выход</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">

                <li class="{% if 'cabinet/' == request.path or 'summary' in request.path %}active{% endif %} treeview">
                    <a href="#!"><i class="fa fa-line-chart"></i> <span>Сводка</span> <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                    <ul class="treeview-menu" {% if 'cabinet/' == request.path or 'summary' in request.path %}style="display: block"{% endif %}>
                        {% for flat in user_flats %}
                            <li class="{% if request.GET.flat_id == flat.id|stringformat:'s' %}active{% endif %}">
                                <a href="?flat_id={{ flat.id }}"><i class="fa fa-building-o"></i> <span>{{ flat.house.name }}, кв.{{ flat.number }}</span></a>
                            </li>
                        {% empty %}
                            <li><a href="#"><i class="fa fa-building-o"></i> <span>Квартиры не найдены</span></a></li>
                        {% endfor %}
                    </ul>
                </li>

               <li class="{% if 'invoice' in request.path %}active{% endif %} treeview">
    <a href="#!">
        <i class="fa fa-files-o"></i> <span>Квитанции</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>

    <ul class="treeview-menu" {% if 'invoice' in request.path %}style="display: block"{% endif %}>

        <li class="{% if not request.GET.flat_id and 'invoice' in request.path %}active{% endif %}">
            <a href="{% url 'crm:cabinet_invoices' %}">
                <i class="fa fa-files-o"></i> <span>Все квитанции</span>
            </a>
        </li>

        {% for flat in user_flats %}
            <li class="{% if request.GET.flat_id == flat.id|stringformat:'s' %}active{% endif %}">
                <a href="{% url 'crm:cabinet_invoices' %}?flat_id={{ flat.id }}">
                    <i class="fa fa-file-text-o"></i> <span>{{ flat.house.name }}, кв.{{ flat.number }}</span>
                </a>
            </li>
        {% endfor %}

    </ul>
</li>

                <li class="{% if 'tariff' in request.path %}active{% endif %} treeview">

    <a href="#!">
        <i class="fa fa-money"></i> <span>Тарифы</span>
        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>

    <ul class="treeview-menu" {% if 'tariff' in request.path %}style="display: block"{% endif %}>
        {% for flat in user_flats %}
            <li class="{% if request.GET.flat_id == flat.id|stringformat:'s' %}active{% endif %}">
                <a href="{% url 'crm:cabinet_tariffs' %}?flat_id={{ flat.id }}">
                    <i class="fa fa-file-text-o"></i> <span>{{ flat.house.name }}, кв.{{ flat.number }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</li>

                <li class="{% if 'message' in request.path %}active{% endif %}">
                    <a href="{% url 'crm:cabinet_messages' %}"><i class="fa fa-envelope-o"></i> <span>Сообщения</span></a>
                </li>

                <li class="{% if 'master-request' in request.path %}active{% endif %}">
                    <a href="#"><i class="fa fa-wrench"></i> <span>Вызов мастера</span></a>
                </li>

                <li class="{% if 'profile' in request.path or 'user/view' in request.path %}active{% endif %}">
                    <a href="#"><i class="fa fa-user-circle-o"></i> <span>Профиль</span></a>
                </li>

            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>

</div>

<script src="{% static 'cabinet/assets/137cc266/jquery.js' %}"></script>
<script src="{% static 'cabinet/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cabinet/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'cabinet/bower_components/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'cabinet/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'cabinet/plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'cabinet/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js' %}"></script>
<script src="{% static 'cabinet/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'cabinet/dist/js/main.js' %}"></script>
<script src="{% static 'cabinet/custom.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>
