{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <title>Вход - Личный кабинет жильца</title>

    <link href="{% static 'cabinet/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/Ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/plugins/iCheck/flat/blue.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/custom.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
</head>
<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'logo.svg' %}" alt="logo">
        </a>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Для жильца</a></li>
            <li><a href="{% url 'admin_login' %}">Для администрации</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="login-box-body">

                    <div id="preloader"></div>
                    <p class="login-box-msg">Вход в личный кабинет</p>

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form id="login-form" action="{% url 'cabinet_login' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group has-feedback {% if form.username.errors %}has-error{% endif %}">
                            <input type="text" id="loginform-username" class="form-control" name="username" placeholder="E-mail или ID" required autofocus value="{{ form.username.value|default:'' }}">
                            <span class="fa fa-envelope form-control-feedback"></span>
                            {% if form.username.errors %}
                                <div class="help-block">{{ form.username.errors|join:", " }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group has-feedback {% if form.password.errors %}has-error{% endif %}">
                            <input type="password" id="loginform-password" class="form-control" name="password" placeholder="Пароль" required>
                            <span class="fa fa-lock form-control-feedback"></span>
                            {% if form.password.errors %}
                                <div class="help-block">{{ form.password.errors|join:", " }}</div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox" id="loginform-rememberme" name="remember_me" value="1" checked> Запомнить меня
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block margin-top-15" name="login-button">Вход</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'cabinet/assets/137cc266/jquery.js' %}"></script>
<script src="{% static 'cabinet/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cabinet/plugins/iCheck/icheck.min.js' %}"></script>

<script>
$(function () {
    // Ініціалізація плагіну iCheck для чекбокса "Запам'ятати мене"
    $('.login-box-body input[type="checkbox"]').iCheck({
        checkboxClass: 'icheckbox_flat-blue',
        radioClass: 'icheckbox_flat-blue'
    });

    // Плавне приховування прелоадера
    $('#preloader').fadeOut('slow', function(){
        $(this).remove();
    });
});
</script>

</body>
</html>
