{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>Лист відправлено</title>
    <link href="{% static 'cabinet/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/custom.css' %}" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"><a href="#"><b>CRM</b> Мій Дім</a></div>
    <div class="login-box-body text-center">
        <h3 class="text-success"><i class="glyphicon glyphicon-ok"></i> Лист відправлено!</h3>
        <p class="margin-bottom">Ми надіслали інструкції зі зміни пароля на вказану електронну адресу. Будь ласка, перевірте вашу пошту (включаючи папку "Спам").</p>
        <a href="{% url 'authentication:cabinet_login' %}" class="btn btn-default btn-block btn-flat">Повернутися до входу</a>
    </div>
</div>
</body>
</html>
