{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>Пароль змінено</title>
    <link href="{% static 'cabinet/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/custom.css' %}" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"><a href="#"><b>CRM</b> Мій Дім</a></div>
    <div class="login-box-body text-center">
        <h3 class="text-success"><i class="glyphicon glyphicon-ok-sign"></i> Пароль змінено!</h3>
        <p>Ваш пароль було успішно оновлено. Тепер ви можете увійти в систему.</p>
        <a href="{% url 'authentication:cabinet_login' %}" class="btn btn-primary btn-block btn-flat">Увійти</a>
    </div>
</div>
</body>
</html>
