{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>Відновлення пароля</title>
    <link href="{% static 'cabinet/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/custom.css' %}" rel="stylesheet">
    <style>
        .login-box { width: 400px; margin: 7% auto; }
    </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"><a href="#"><b>CRM</b> Мій Дім</a></div>
    <div class="login-box-body">
        <p class="login-box-msg">Введіть ваш Email для відновлення пароля</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Відправити посилання</button>
        </form>
        <br>
        <p class="text-center"><a href="{% url 'authentication:cabinet_login' %}">Повернутися до входу</a></p>
    </div>
</div>
</body>
</html>
