{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>Новий пароль</title>
    <link href="{% static 'cabinet/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'cabinet/custom.css' %}" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"><a href="#"><b>CRM</b> Мій Дім</a></div>
    <div class="login-box-body">
        {% if validlink %}
            <p class="login-box-msg">Введіть новий пароль двічі</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} <button type="submit" class="btn btn-success btn-block btn-flat">Зберегти новий пароль</button>
            </form>
        {% else %}
            <h3 class="text-danger text-center"><i class="glyphicon glyphicon-remove"></i> Помилка</h3>
            <p class="text-center">Посилання для відновлення недійсне або застаріло. Можливо, ви вже використали його.</p>
            <a href="{% url 'authentication:password_reset' %}" class="btn btn-primary btn-block btn-flat">Запросити нове посилання</a>
        {% endif %}
    </div>
</div>
</body>
</html>
